# {{ ansible_managed }}

[Unit]
Description=Daily invocation of certbot

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target

